/*------------------------------------*\
  #COLOR PALLETE AND COLORS
\*------------------------------------*/


/* || Base colors */
$color-black: hsl(203, 11%, 14%);
$color-white: hsl(0, 0%, 100%);

/* || Blue grays */
$color-gray-500: hsl(0, 0%, 55%);
$color-gray-900: hsl(210, 11%, 21%);

/* || Blue colors */
$color-blue-100: hsl(206, 47%, 94%);
$color-blue-125: hsl(234, 51%, 85%);
$color-blue-150: hsl(234, 52%, 44%);
$color-blue-200: hsl(235, 56%, 40%);

/* || Green colors */
$color-green-500: hsl(119, 37%, 48%);

/* || Yellow colors */
$color-yellow-500: hsl(56, 52%, 49%);

$gradient: linear-gradient(132.2deg, #1F248A 4.72%, #3541AA 73.78%), #3541AA;