/* Component structure
==============================
  Button
*/


.a-button {
  background: $color-green-500;
  border-radius: $radius-pill;
  border: none;
  font-size: $font-size-xs;
  font-weight: $font-weight-900;
  color: $color-white;
  text-transform: uppercase;
  padding: 1em 2em;
  text-decoration: none;
  display: inline-flex;
}


/* || Modifiers */

.a-button--secondary {
  border: 1px solid $color-green-500;
  background: none;
  color: $color-green-500;
}

.a-button--large {
  @include media(medium) {
    padding: 1.25em 2em;
    font-size: $font-size-lg;
  }
}