/* Component structure
==============================
  Page gradient (2 versions for HP and other sites)
*/

.s-page-gradient {
  background: $gradient;
  height: 524px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}


/* || Modifiers */

.s-page-gradient--big {
  height: 320px;
  @include media(large) {
    height: 500px;
  }
  @include media(huge) {
    height: 1160px;
  }
}
